/***********************************************************

@Author: Maxence MAURY-BALIT
Fichier CSS pour mon site PortFolio maxence-maury-balit.com

Ce fichier CSS est commun pour toutes les pages du site web

***********************************************************/

@font-face { font-family: Beige-Miracle; src: url('../FONTS/beige-miracle.regular.ttf'); } 

:root {
	/* Colors */
	--white:		#FBEDC3;

	--light-accent:	#CCB363;
	--mid-accent:	#C27E35;
	--dark-accent:	#76290B;

	--dark-green:	#082C2C;

	/* Font size */
	--fontsize-maintitle: 	10vmin;
	--fontsize-subtitle: 	 4vmin;

	--fontsize-headers: 	 6vmin;
	--fontsize-large-text: 	 3vmin;
	--fontsize-tabs:	   2.2vmin;
	--fontsize-p: 			 2vmin;
}

@media (max-width: 1200px) {
	:root {
		--fontsize-maintitle: 	 75px;
		--fontsize-subtitle: 	 30px;
	
		--fontsize-headers: 	 40px;
		--fontsize-large-text: 	 20px;
		--fontsize-tabs:		 18px;
		--fontsize-p: 			 15px;
	}
}

@media (max-width: 500px) {
	:root {
		--fontsize-maintitle: 	 65px;
		--fontsize-subtitle: 	 25px;
	}
}

* {
	margin : 0;
	padding: 0;

	font-family: verdana;
	box-sizing : border-box;
}

body {
	color: var(--white);
	background-color: var(--dark-green);

	max-width: 100%;
	min-width: 320px;
	
  	overflow-x: hidden;
}

.container {
	padding: 200px 10%;
}

html {
	scroll-behavior: smooth;
}

p {
	font-size: var(--fontsize-p);
	word-wrap: break-word;
}



/* HEADER  */

header {
	width : 100%;
	height: 100vh;

	background-image   : url(../MEDIAS/background.png);
	background-size    : cover;
	background-position: center;

	box-shadow: 0 -50px 15px -30px var(--dark-green) inset;
}

@media(max-width: 1400px) {
	header {
		background-position: left;
	}
}

@media(max-width: 750px) {
	header {
		background-image   : url(../MEDIAS/background_phone.png);
		background-position: center;
	}
}


/* Menu bar */

#logo {
	max-height: 100px;
	width: auto;
	height: auto;

	transition: 0.5s;
}

#logo:hover {
	transform: scale(1.15);
}

nav {
	background-color: rgba(8, 44, 44, 0.15); /* Vert foncé transparent */

	display    : flex;
	align-items: center;
	flex-wrap  : wrap;
	justify-content: space-between;

	padding: 0 10%;
}

nav ul li {
	display   : inline-block;
	list-style: none;
	margin    : 10px 10px;
}

nav ul li a {
	color    : var(--white);
	font-size: var(--fontsize-tabs);
	text-decoration: none;

	position: relative;
}

nav ul li a::after {
	content: '';
	background-color: var(--mid-accent);

	width   : 0;
	height  : 3px;
	position: absolute;
	right   : 0;
	bottom  : -5px;
	
	transition: 0.35s;
}

nav ul li a:hover::after {
	width: 100%;
}


/* Titre principal */

#main_title {
	margin: 20% 8% 0% 0%;
	text-align: right;
}

#main_title h1 {
	font-family: Beige-Miracle;
	font-size  : var(--fontsize-maintitle);
}

#main_title h1 > span {
	display: none;
}

#main_title p {
	font-family: Beige-Miracle;
	font-size  : var(--fontsize-subtitle);
	color      : var(--mid-accent);

	margin-right: 10px;
}


@media(max-width: 1400px) {
	#main_title {
		margin-top: 50vh;
	}
}

@media(max-width: 800px) {
	#main_title {
		margin: 50vh 5% 0;
		text-align: center;
	}

	#main_title h1 > span {
		display: flex;
	}
}


/* jsp */
.anchor {
	width: 100%;
}


/* About me section */

#about {
	display  : flex;
	flex-wrap: wrap;
	justify-content: space-between;	

	background-image: linear-gradient(176deg, var(--dark-green) 90%, var(--white) calc(90% + 2px));
}


#about hr {
	color: var(--mid-accent);
	margin: 30px 0;
}

#about > .col1 {
	flex-basis: 60%;
	height: 100vh;
}

#about > .col1 > h2 {
	font-family: Beige-Miracle;
	font-size  : var(--fontsize-headers);
	color      : var(--mid-accent);
}

#about > .col1 > p {
	margin: 20px 0;

	font-size : var(--fontsize-p);
	text-align: justify;
}

#about .col1 > p > a {
	color: var(--light-accent);
	text-decoration: none;
}

#about > .col1 > p > a:hover {
	text-decoration: underline;
}


#about-tab {
	display: flex;
	margin : 20px 0 40px;
	padding-top: 15px;
}

.about-tab-title {
	margin-right: 50px;
	position: relative;

	font-size: var(--fontsize-tabs);

	cursor: pointer;
}

.about-tab-title::after {
	content: '';
	background-color: var(--mid-accent);

	width   : 0;
	height  : 3px;
	position: absolute;
	left    : 0;
	bottom  : -5px;

	transition: 0.35s;
}

.about-tab-title:hover::after {
	width: 100%;
}

.about-tab-title.active-link::after {
	width: 100%;
}

.about-tab-content ul li {
	list-style: none;

	margin: 10px 0; 
}

.about-tab-content {
	display: none;
}

.about-tab-content.active-tab {
	display: block;
}

.about-tab-content-text > span {
	color: var(--mid-accent);
	font-size: var(--fontsize-p);
}

.about-tab-content-text > p {
	display: inline;
}

.logos {
	width: min(10vmin, 65px);
	margin-bottom: 15px;

	transition: 0.25s;
}

.logos:hover {
	transform: scale(1.25);
}

.logos.left_space {
	margin-left: 20px;
}

.edu-img {
	max-width: 80%;
	width: auto;
	height: auto;

	margin-top:    5px;
	margin-bottom: 15px;

	border-radius: 5px;

	transition: 1s;
}

.edu-img:hover {
	transform: scale(1.05);
}

#about > .col2 {
	display: block;
	flex-basis: 35%;
}

#about > .col2 img {
	object-fit: cover;
	width: 100%;
	height: 80vh;
	border-radius: 15px;

	transition: 1s;
}

#about > .col2 img:hover {
	transform: scale(1.05);
}


@media (max-width: 1200px) {
	#about {
		flex-direction: column;
	}

	#about > .col1 {
		flex-basis: 100%;
		text-align: center;

		height: auto;
		width: 100%;
	}

	#about-tab {
		justify-content: center;
	}

	.about-tab-title {
		margin: auto;
	}

	#about > .col2 {
		border-top: solid 2px var(--mid-accent);
		margin-top: 20px;
		padding-top: 40px;

		text-align: center;

		width: 100%;
	}

	#about > .col2 img {
		object-fit: cover;
		width: 100%;
		height: 50%;
	}
}


/* My works sections */
#works {
	padding-top: 10px;

	display  : flex;
	flex-wrap: wrap;
	justify-content: space-between;	
	flex-direction: column;

	background-color: var(--white);
}

#works hr {
	color: var(--dark-green);
	margin: 30px 0;
}

#works > .col1 {
	flex-basis: 10%;
}

#works > .col1 > h2 {
	font-family: Beige-Miracle;
	font-size  : var(--fontsize-headers);
	color      : var(--dark-green);

	text-align: center;
	margin: 0 auto;
}

#works > .col1 > p {
	margin: 20px auto;
	width: 50%;

	font-size : var(--fontsize-p);
	text-align: justify;
	text-align-last: center;

	color: var(--dark-green);
}

#works > .col1 > p > a {
	color: var(--dark-accent);
	text-decoration: none;
}

#works > .col1 > p > a:hover {
	text-decoration: underline;
}

#works > .col2 {
	align-items: center;
	display: inline-flex;
}

.work-img {
	width: 32%;
	margin: 25px auto;

	border-radius: 10px;
}

@media (max-width: 1000px) {
	#works {
		flex-direction: column;
	}

	#works > .col1 {
		flex-basis: 100%;
		text-align: center;

		height: auto;
		width: 100%;
	}

	#works > .col1 > p {
		width: 100%;
	}

	#works > .col2 {
		width: 100%;
		height: auto;

		display: flex;
		flex-direction: column;
	}

	.work-img {
		display: block;

		object-fit: cover;
		width: 100%;
		height: 20%;

		margin: 5px auto;
	
		border-radius: 10px;
	}
}


/* Contacts */
#contacts {
	display  : flex;
	flex-wrap: wrap;
	justify-content: space-between;	

	background-image: linear-gradient(182deg, var(--white) 10%, var(--dark-green) calc(10% + 2px));
}

.section-header {
	width: 100%;
}

.section-header h2 {
	font-family: Beige-Miracle;
	font-size  : var(--fontsize-headers);
	color      : var(--mid-accent);
}

.section-header hr {
	color: var(--mid-accent);
	margin: 30px 0;
}

#contacts > .col1 {
	flex-basis: 60%;
}

#message-form {
	display: flex;
	flex-direction: column;
}

#top-form {
	display: flex;
	width: 100%;
}

.contact-input {
	display: flex;
	flex-direction: column;
}

.contact-input > label {
	font-size: var(--fontsize-p);

	margin-bottom:  10px;
	padding-bottom: 10px;

	border-bottom: solid 2px var(--white);
}

.contact-input > .msg-input {
	padding: 10px;

	border: solid 1px var(--white);
	border-radius: 7px;
	background-color: var(--dark-green);

	font-size: var(--fontsize-p);
	color: var(--white);

	transition: 0.25s;
}

.msg-input:focus {
	outline: none;

	background-color: var(--white);
	color: var(--dark-green);
}

.contact-input.short {
	flex: 50%;
	padding: 10px;
}

.contact-input.large {
	flex: 100%;
	padding: 10px;
}

.contact-input.large > textarea {
	resize: none;
	height: auto;
}

.contact-buttons {
	padding: 10px;
}

.contact-buttons > input {
	width: 75px;
	height: 40px;

	border: solid 1px var(--white);
	border-radius: 7px;
	background-color: var(--dark-green);

	font-size: var(--fontsize-p);
	color: var(--white);

	transition: 0.25s;
}

.contact-buttons > input:hover {
	background-color: var(--white);
	color: var(--dark-green);
}

#contacts > .col2 {
	flex-basis: 40%;
	flex-direction: column;

	margin: auto 0;

	padding-left: 25px;
}

.contact-option {
	width: 100%;
	padding: 10px;
	margin: 10px 0;

	background-color: var(--white);

	border-radius: 10px;

	display: flex;
}

.contact-logos {
	flex-basis: 25%;

	margin-right: 25px;
	width: 100%;
}

.contact-content {
	display: flex;
	flex-direction: column;

	width: 100%;
}

.contact-content > h3 {
	font-family: Beige-Miracle;
	font-size  : var(--fontsize-large-text);
	color: var(--dark-accent);

	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: solid 1px var(--dark-accent);
}

.contact-content > p {
	color: var(--dark-green);
}



@media (max-width: 1000px) {
	#contacts {
		flex-direction: column;
	}

	#contacts > .col1 {
		width: 100%;
		order: 2;
	}

	#top-form {
		flex-direction: column;
	}

	.contact-buttons {
		text-align: right;
	}

	#contacts > .col2 {
		order: 1;

		width: 100%;
		padding: 0;
		margin-bottom: 25px;
	}

	.contact-option {
		margin: 5px 0;
	}
}


/* Footer */
footer {
	background-color: var(--white);
	height: 25vh;

	text-align: center;
}

footer > p {
	padding-top: 20vh;
	color: var(--dark-green);
}