/***********************************************************

@Author: Maxence MAURY-BALIT
Fichier CSS pour mon site PortFolio maxence-maury-balit.com

Ce fichier CSS est commun pour toutes les pages du site web

***********************************************************/

@font-face { font-family: Beige-Miracle; src: url('../FONTS/beige-miracle.regular.ttf'); } 

:root {
	/* Colors */
	--white:		#FBEDC3;

	--light-accent:	#CCB363;
	--mid-accent:	#C27E35;
	--dark-accent:	#76290B;

	--dark-green:	#082C2C;

	/* Font size */
	--fontsize-maintitle: 	10vmin;
	--fontsize-subtitle: 	 4vmin;

	--fontsize-headers: 	 50px;
	--fontsize-large-text: 	 35px;
	--fontsize-tabs:	   	 20px;
	--fontsize-p: 			 18px;
	--fontsize-small:		 15px;
}

@media (max-width: 750px) {
	:root {
		--fontsize-maintitle: 	12vmin;
		--fontsize-subtitle: 	 5vmin;

		--fontsize-headers: 	 40px;
		--fontsize-large-text: 	 30px;
		--fontsize-tabs:	   	 18px;
		--fontsize-p: 			 16px;
		--fontsize-small:		 13px;
	}
}

* {
	margin : 0;
	padding: 0;

	font-family: verdana;
	box-sizing : border-box;
}

body {
	color: var(--white);
	background-color: var(--dark-green);

	max-width: 100%;
	min-width: 320px;
	
  	overflow-x: hidden;
}

.container {
	padding: 200px 10%;
}

html {
	scroll-behavior: smooth;
}

p {
	font-size: var(--fontsize-p);
	word-wrap: break-word;
}

.hr {
	display: block;
	width: 100%;
	border-bottom: solid 2px;
}


#loader {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 10000;

	background: var(--dark-green) url(../MEDIAS/loading.gif) no-repeat center center;
}

#format {
	display: none; 

	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 10000;
	
	line-height: 100vh;
	text-align: center;

	background-color: var(--dark-green);
}

#format > p {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

@media(max-aspect-ratio: 1/3)
or    (max-width:  300px)
or    (max-height: 300px) 
or    (min-aspect-ratio: 3/1) {
	#format {
		display: block;
	}
}



/* HEADER  */

header {
	width : 100%;
	height: 100vh;

	background-image   : url(../MEDIAS/background.png);
	background-size    : cover;
	background-position: center;

	box-shadow: 0 -50px 15px -30px var(--dark-green) inset;
}

@media(max-aspect-ratio: 7/4) {
	header {
		background-position: left;
	}
}

@media(max-aspect-ratio: 15/17) {
	header {
		background-image   : url(../MEDIAS/background_phone.png);
		background-position: top;
	}
}


/* Menu bar */

#logo {
	max-height: 100px;
	width: auto;
	height: auto;

	z-index: 1001;
	transition: 0.5s;
}

#logo:hover {
	transform: scale(1.15);
}

nav {
	display    : flex;
	align-items: center;
	flex-wrap  : wrap;
	justify-content: space-between;

	padding: 0 10%;
	min-height: 110px;

	z-index: 1000;
	transition: 0.2s;
}

#menu_links {
	display: flex;
}

#menu_links li {
	display   : inline-block;
	list-style: none;
	margin    : 10px 10px;
}

#menu_links li a {
	color    : var(--dark-green);
	font-size: var(--fontsize-tabs);
	text-decoration: none;

	position: relative;
}

#menu_links li a::after {
	content: '';
	background-color: var(--white);

	width   : 0;
	height  : 3px;
	position: absolute;
	right   : 0;
	bottom  : -5px;
	
	transition: 0.35s;
}

#menu_links li a:hover::after {
	width: 100%;
}

/* Hamburger menu */
#hamburger {
	display: none;
	cursor: pointer;

	z-index: 1001;
}

.hamburger_bar {
	display: block;

	width: 25px;
	height: 3px;
	margin: 5px auto;

	background-color: var(--white);

	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


@media(max-aspect-ratio: 15/17) or (max-width: 650px) {
	nav {
		min-height: 80px;
	}

	#logo {
		max-height: 75px;
	}

	nav.active {
		background-color: var(--white);
	}

	#hamburger {
		display: block;
	}

	#hamburger.active .hamburger_bar:nth-child(1) { background-color: var(--dark-green); transform: translateY(8px) rotate(45deg); }
	#hamburger.active .hamburger_bar:nth-child(2) { opacity: 0; }
	#hamburger.active .hamburger_bar:nth-child(3) { background-color: var(--dark-green); transform: translateY(-8px) rotate(-45deg); }

	#menu_links {
		position: absolute;
		z-index: 100;

		width: 100%;
		top: -10%;
		left: 0;
		gap: 0;

		background-color: var(--white);
		
		flex-direction: column;
		text-align: center;

		transition: 0.3s;
		opacity: 0%;
	}

	#menu_links > li {
		padding: 15px 0;
		margin: 0;
		width: 100%;

		border-top: solid 1px var(--dark-green);
	}

	#menu_links.active {
		opacity: 100%;
		top: 80px;
	}
}


/* Titre principal */

#main_title {
	margin: 20% 8% 0% 0%;
	text-align: right;
}

#main_title h1 {
	font-family: Beige-Miracle;
	font-size  : var(--fontsize-maintitle);
}

#main_title h1 > span {
	display: none;
}

#main_title p {
	font-family: Beige-Miracle;
	font-size  : var(--fontsize-subtitle);
	color      : var(--mid-accent);

	margin-right: 10px;
}


@media(max-aspect-ratio: 7/4) {
	#main_title {
		margin-top: 50vh;
	}
}

@media(max-aspect-ratio: 19/17) {
	#main_title {
		position: absolute;
		top: 65%;
		left: 50%;
		transform: translateX(-50%);

		width: 80%;
		margin: 0;
		text-align: center;
	}
}


/* jsp */
.anchor {
	width: 100%;
}


/* About me section */

#about {
	display  : flex;
	flex-wrap: wrap;
	justify-content: space-between;	

	background-image: linear-gradient(176deg, var(--dark-green) 90%, var(--white) calc(90% + 2px));
}


#about span.hr {
	border-color: var(--mid-accent);
	margin: 30px 0;
}

#about > .col1 {
	flex-basis: 60%;
	height: 100vh;
}

#about > .col1 > h2 {
	font-family: Beige-Miracle;
	font-size  : var(--fontsize-headers);
	color      : var(--mid-accent);
}

#about > .col1 > p {
	margin: 20px 0;

	font-size : var(--fontsize-p);
	text-align: justify;
}

#about .col1 > p > a {
	color: var(--light-accent);
	text-decoration: none;
}

#about > .col1 > p > a:hover {
	text-decoration: underline;
}


#about-tab {
	display: flex;
	justify-content: space-around;

	margin : 20px 0 40px;
	padding-top: 15px;
}

.about-tab-title {
	position: relative;

	font-size: var(--fontsize-tabs);

	cursor: pointer;
}

.about-tab-title::after {
	content: '';
	background-color: var(--mid-accent);

	width   : 0;
	height  : 3px;
	position: absolute;
	left    : 0;
	bottom  : -5px;

	transition: 0.35s;
}

.about-tab-title:hover::after {
	width: 100%;
}

.about-tab-title.active-link::after {
	width: 100%;
}

.about-tab-content ul li {
	list-style: none;

	margin: 10px 0; 
}

.about-tab-content {
	display: none;
}

.about-tab-content.active-tab {
	display: block;
}

.about-tab-content-text > span {
	color: var(--mid-accent);
	font-size: var(--fontsize-p);
}

.about-tab-content-text > p {
	display: inline;
}

.about-tab-content-logos > span {
	display: none;
}

.logos {
	width: min(10vmin, 65px);
	margin-bottom: 15px;

	transition: 0.25s;
}

.logos:hover {
	transform: scale(1.25);
}

.logos.left_space {
	margin-left: 20px;
}

.edu-img {
	max-width: 80%;
	width: auto;
	height: auto;

	margin-top:    5px;
	margin-bottom: 15px;

	border-radius: 5px;

	transition: 1s;
}

.edu-img:hover {
	transform: scale(1.05);
}

#about > .col2 {
	display: block;
	flex-basis: 35%;
}

#about > .col2 img {
	object-fit: cover;
	width: 100%;
	height: 80vh;
	border-radius: 15px;

	transition: 1s;
}

#about > .col2 img:hover {
	transform: scale(1.05);
}


@media (max-aspect-ratio: 24/17) {
	#about {
		flex-direction: column;
	}

	#about > .col1 {
		flex-basis: 100%;
		text-align: center;

		height: auto;
		width: 100%;
	}

	#about > .col2 {
		border-top: solid 2px var(--mid-accent);
		margin-top: 20px;
		padding-top: 40px;

		text-align: center;

		height: auto;
		width: 100%;
	}

	#about > .col2 img {
		object-fit: cover;
		width: 100%;
		height: 50vh;
	}
}

@media (max-aspect-ratio: 1/1) {

	#about > .col2 img {
		object-fit: cover;
		width: 100%;
		height: 30vh;
	}

	#about-tab {
		justify-content: center;
	}

	.about-tab-title {
		margin: auto;
		width: 33%;
	}

	.about-tab-title:nth-child(3) span {
		display: none;
	}

	.logos.left_space.breakable {
		margin-left: 0;
	}

	.about-tab-content-logos > span {
		display: block;
	}

	.edu-img {
		object-fit: cover;
		height: 15vh;

		max-width: 100%;
	
		margin-top:    5px;
		margin-bottom: 15px;
	}
}


/* My works sections */
#works {
	padding-top:    10px;
	padding-bottom: 10px;

	display  : flex;
	flex-wrap: wrap;
	justify-content: space-between;	
	flex-direction: column;

	background-color: var(--white);
}

#works span.hr {
	border-color: var(--dark-green);
	margin: 30px 0;
}

#works > .col1 {
	flex-basis: 10%;
}

#works > .col1 > h2 {
	font-family: Beige-Miracle;
	font-size  : var(--fontsize-headers);
	color      : var(--dark-green);

	text-align: center;
	margin: 0 auto;
}

#works > .col1 > p {
	margin: 20px auto;
	width: 50%;

	font-size : var(--fontsize-p);
	text-align: justify;
	text-align-last: center;

	color: var(--dark-green);
}

#works > .col1 > p > a {
	color: var(--dark-accent);
	text-decoration: none;
}

#works > .col1 > p > a:hover {
	text-decoration: underline;
}

#works > .col2 {
	align-items: center;
	display: inline-flex;
}

.work-img {
	width: 32%;
	margin: 25px auto;

	border-radius: 10px;
}

@media (max-aspect-ratio: 20/17) {
	#works {
		flex-direction: column;
	}

	#works > .col1 {
		flex-basis: 100%;
		text-align: center;

		height: auto;
		width: 100%;
	}

	#works > .col1 > p {
		width: 100%;
	}
}


@media (max-aspect-ratio: 14/17) {
	#works > .col2 {
		width: 100%;
		display: block;
	}

	.work-img {
		object-fit: cover;
		width: 100%;
		height: 20vh;

		margin: 5px auto;
	
		border-radius: 10px;
	}
}


/* Contacts */
#contacts {
	display  : flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;	

	background-image: linear-gradient(182deg, var(--white) 10%, var(--dark-green) calc(10% + 2px));
}

.section-header {
	width: 100%;
}

.section-header h2 {
	font-family: Beige-Miracle;
	font-size  : var(--fontsize-headers);
	color      : var(--mid-accent);
}

.contact-precision {
	margin: 0 0 25px;
}

#contacts > .col2 > .contact-precision {
	display: none;
}

.contact-precision span {
	font-size: var(--fontsize-small);
}

#contacts span.hr {
	border-color: var(--mid-accent);
	margin: 10px 0 30px;
} 

#contacts > .col1 {
	flex-basis: 50%;
}

#message-form {
	display: flex;
	flex-direction: column;
}

#top-form {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.contact-input {
	display: flex;
	flex-direction: column;

	padding: 5px 0 10px;
}

.contact-input > label {
	font-size: var(--fontsize-p);

	margin-bottom:  10px;
	padding-bottom: 10px;

	border-bottom: solid 2px var(--white);
}

.contact-input > .msg-input {
	padding: 10px;

	border: solid 1px var(--white);
	border-radius: 7px;
	background-color: var(--dark-green);

	font-size: var(--fontsize-p);
	color: var(--white);

	transition: 0.25s;
}

.msg-input:focus {
	outline: none;

	background-color: var(--white);
	color: var(--dark-green);
}

.contact-input.short {
	width: 49%;
}

.contact-input.large {
	width: 100%;
}

.contact-input.large > textarea {
	resize: none;
	height: auto;
}

.contact-buttons {
	padding: 10px;
}

.contact-buttons > input {
	width: 75px;
	height: 40px;

	border: solid 1px var(--white);
	border-radius: 7px;
	background-color: var(--dark-green);

	font-size: var(--fontsize-p);
	color: var(--white);

	transition: 0.25s;
}

.contact-buttons > input:hover {
	background-color: var(--white);
	color: var(--dark-green);
}

#contacts > .col2 {
	flex-basis: 50%;
	flex-direction: column;
	width: 100%;

	margin: auto 0;

	padding-left: 25px;
}

.contact-option {
	width: 100%;
	padding: 10px;
	margin: 10px 0;

	background-color: var(--white);

	border-radius: 10px;

	display: flex;
}

.contact-logos {
	display: block;
	object-fit: contain;
	width: 25%;

	margin: auto;
}

.contact-content {
	display: flex;
	flex-direction: column;

	margin-left: 15px;
	width: 100%;
}

.contact-content > h3 {
	font-family: Beige-Miracle;
	font-size  : var(--fontsize-large-text);
	color: var(--dark-accent);

	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: solid 1px var(--dark-accent);
}

.contact-content > p {
	color: var(--dark-green);
}



@media (max-aspect-ratio: 7/4) {
	#contacts {
		flex-direction: column;
	}

	#contacts > .col1 {
		width: 100%;
		order: 2;
	}

	#top-form {
		flex-direction: column;
	}

	.contact-input {	
		margin: 5px 0 10px;
	}

	.contact-input.short {
		width: 100%;
	}

	.contact-buttons {
		text-align: right;
	}

	#contacts > .col2 {
		order: 1;

		width: 100%;
		padding: 0;
	}

	.contact-option {
		margin: 5px 0;
	}

	#contacts > .section-header > .contact-precision {
		display: none;
	}

	#contacts > .col2 > .contact-precision {
		display: block;
		text-align: center;
		margin: 30px 0 20px;
	}
}


/* Footer */
footer {
	background-color: var(--white);
	height: 25vh;

	text-align: center;
}

footer > p {
	padding-top: 20vh;
	color: var(--dark-green);
}